
.magazine {
    margin-left: 60%;
    margin-top: 12%;
  }
  
  .magazine .page {
    height: 100%;
  }
  
  .magazine .page img {
    max-width: 100%;
    height: 100%;
  }
  .ui.raised.segment,
  .ui.raised.segments {
    box-shadow: 0 2px 4px 0 rgb(34 36 38 / 12%), 0 2px 10px 0 rgb(34 36 38 / 15%);
  }
  