.root{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main{
  display: flex;
  gap: 20%;
 width:75%;
 height:300px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.left{
  display: flex;
}
.input{
  width:200px;
  height:40px;
  margin:5px;
  padding:10px
}
.btn{
  padding: 10px;
  background-color: blue;
  color:#fff;
  border:none;
  margin: 5px;
  border-radius: 5px;
}
.img{
  width:130px;
  height:130px;
}